<div class="container">
    <div class="col">
        <div class="item">
            <img src="https://cdn.pixabay.com/photo/2025/11/11/06/38/fairy-9949661_1280.jpg" alt="fasco hero" width="100%" height="100%">
        </div>
        <div class="item_2">
            <div class="item_2_images">
                <img src="https://cdn.pixabay.com/photo/2025/11/11/06/38/fairy-9949661_1280.jpg" alt="fasco hero" width="100%" height="100%">
            </div>
            <div class="item_2_content">
                <h1>
                    <span class="highlight">
                        ULTIMATE
                    </span>
                    <span class='strong'>
                        SALE
                    </span>
                </h1>
                <p>
                    NEW COLLECTION
                </p>
                <button class="button">
                    SHOP NOW
                </button>                
            </div>
            <div class="item_2_images">
                <img src="https://cdn.pixabay.com/photo/2025/11/11/06/38/fairy-9949661_1280.jpg" alt="fasco hero" width="100%" height="100%">
            </div>

        </div>
        <div class="item">
            <img src="https://cdn.pixabay.com/photo/2025/11/11/06/38/fairy-9949661_1280.jpg" alt="fasco hero" width="100%" height="100%">
        </div>
    </div>
</div>

<style>
    .container{
        width:100vw;
        padding: 20px 0;
        height:90vh
    }
    .col{
        width:90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: .7fr 1fr .7fr;
        grid-template-rows: 100%;
        gap: 20px;
        height:100%;
    }
    .item{
    }
    img{
        width: 100%;
        height: 100%
    }
    .item_2{

        object-fit: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .item_2_images{
        height: 33.33%
        object-fit: cover;
    }
    .item_2_content{

        heigh: 33.33%
        object-fit: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
</style>

{% schema %}
{
    "name": "Fasco Hero Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
        ],
        "presets": [
            {
                "name": "Fasco Hero Section"
            }
        ]
}
{% endschema %}