<style>
    .flash_sale_container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 52px 0;
    }
    .flash_content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

</style>

  <div class="flash_sale_container">
    <div class="flash_content">
        <div class="content">
            <h2>Deals Of The Month</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit blanditiis voluptate neque corporis aspernatur quisquam animi.
            </p>
            <a href="#">Buy Now</a>
        </div>
        <div class="count_down">
            <h3 class="count_down_title">
                Hurry, Before It's Too Late!
            </h3>
            <div class="count_down_clock" id="count_down_clock">

            </div>
        </div>
    </div>
    <div class="falsh_collection">

    </div>
</div>

<script>  
    let countDownDate = new Date('Jan 16, 2026 15:40:25').getTime();
    let x= setInterval(function(){
        const now = new Date().getTime();
        let distance = countDownDate - now;
        const days = Math.floor(distance / (1000 * 60 * 60 * 24))
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("count_down_clock").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if(distance < 0){
            clearInterval(x);
            document.getElementById('count_down_clock').innerHTML = "Expired"
        }
    }, 1000);
</script>

{% schema %}
    {
        "name": "Fasco Flash Sales Promo",
        "settings": [
        
        ],
        "presets": [
            {
                "name": "Fasco Flash Sales Promo"
            }
        ]
    }
{% endschema %}
