<div class="gallery-container">
    <div class="gallery-header">
        <h2>
            Follow Us On Instagram
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officiis, voluptatem eligendi fuga est deleniti qui incidunt, eos repudiandae ab eum commodi illo. Deleniti, consequuntur nisi, tempora ipsa autem, beatae tempore impedit similique quasi facere aliquid nesciunt ea ipsum perspiciatis.
        </p>
    </div>
    <div class="gallery">
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
        <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" width="100" height="100" al="instagram" />
    </div>
</div>


{% schema %}
{
    "name": "Images Gallery",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Images Gallery"
        }
    ]
}
{% endschema %}