{% style %}
  .testimonials_container {
      padding: 60px 0 40px;
      text-align: center;
    }
{% endstyle %}
<div class="testimonials_container">
    <h2>{{ section.settings.title }}</h2>
    <p class="subtitle">{{ section.settings.subtitle }}</p>

    <div class="testimonials">
        <div class="testimonial">
            <img src="https://fastly.picsum.photos/id/819/200/300.jpg?hmac=QrFu2y-FbDRBR4OFiSYDWP-w2egSTjiMkeagJb0rqM0" alt="testimonial 1" width="100" height="100" />
            <div class="testimonial_info">
                <p class="testimonial_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odit, ipsa repudiandae aut atque rerum nemo a provident dolores cum!
                </p>
                <h3 class="testimonial_name">
                    Lorem, ipsum.
                </h3>
                <span class="role">
                    lorem 
                </span>
            </div>
        </div>
        <div class="testimonial">
            <img src="https://fastly.picsum.photos/id/819/200/300.jpg?hmac=QrFu2y-FbDRBR4OFiSYDWP-w2egSTjiMkeagJb0rqM0" alt="testimonial 1" width="100" height="100" />
            <div class="testimonial_info">
                <p class="testimonial_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odit, ipsa repudiandae aut atque rerum nemo a provident dolores cum!
                </p>
                <h3 class="testimonial_name">
                    Lorem, ipsum.
                </h3>
                <span class="role">
                    lorem 
                </span>
            </div>
        </div>        
    </div>
</div>