.container {
    display: flex;
    gap: 20px;
  }
  .image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .customer {
    width: 50%;
    height: 100%;
  }
  .container .customer form .field::after{
    box-shadow: none !important;
    border-bottom: 1px solid #9D9D9D !important;
  }
  .container .customer form {
    display: flex;
    flex-direction: column;
  }

  .container .customer .field input:focus{
    box-shadow: none !important;
    border-bottom: 1px solid #9D9D9D !important;
  }
  .container .customer .field label{
    color: #9D9D9D !important;
  }
  .container .customer form button::after{
    box-shadow: none !important;
  }
  .container .customer form button{
    border-radius: 10px !important;
  }
  .container .customer form .create-account{ 
    text-decoration: none !important;
    color: #9D9D9D !important;
    border: 1px solid #9D9D9D !important;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }
  .container .customer form .forgot-password{
    align-self: flex-end;
    color: #9D9D9D !important;
    margin-top: 10px;
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 0;
    }
    .image {
      width: 100%;
    }
    .customer {
      width: 100%;
  
    }
  }